<a href="https://colab.research.google.com/github/oliveiraqalan/br-python-challenges/blob/master/Desafio_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Desafio 10

Dada uma lista, divida-a em 3 partes iguais e reverta cada lista.

Exemplo: 

sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

Parte 1 [8, 45, 11]

Parte 2 [12, 14, 23]

Parte 3 [89, 45, 78]

In [ ]:
# Seu c√≥digo

In [9]:
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [5]:
terco_1 = int(len(sampleList)/3)

In [6]:
terco_2 = terco_1*2
terco_2

6

In [18]:
def quebra_inverte(lista):
  terco_1=int(len(lista)/3)
  terco_2 = terco_1*2
  parada_1 = lista[0:terco_1]
  parada_2 = lista[terco_1:terco_2]
  parada_3 = lista[terco_2:]
  return parada_1[::-1], parada_2[::-1], parada_3[::-1]

In [19]:
quebra_inverte(sampleList)

([8, 45, 11], [12, 14, 23], [89, 45, 78])